/* Login.css */

/* Center the login form */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 101%;
    padding: 10px;
    background-color: #0095ff; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #08f466; /* Change to your desired button hover color */
  }
  